div.sphinxsidebar {
    height: 100vh;
    overflow: auto;
}
div.sphinxsidebar hr {
    width: 100%;
}
/* div.sphinxsidebar ul { */
/*     margin: 0 0 !important; */
/* } */
div.sphinxsidebar li.toctree-l1 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
pre {
    padding: 7px 15px;
}
div.body h4, div.body h5, div.body h6 {
    margin: 10px 0px 10px 0px;
}
div.body h3 {
    margin: 20px 0px 10px 0px;
}
div.admonition {
    padding: 10px 15px;
}
div.note {
    background-color: #0e84b51c;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%
}
@media screen and (max-width: 870px) {
div.sphinxsidebar {
    height: auto;
}
}
div.highlight-none pre {
    background: #FBFBFBED;
    color: #868C93;
}
